:root {
	--boardMaxWidth: 1111px;
	--skyColor: #d1eeff;
}


.container {
	background-color: #ffffff;
	height: 100vh;
	height: 100dvh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.board {
	background-color: #ffffff;
	display: block;
	background-color: var(--skyColor);
}

.gameOverPopup {
	position: absolute;
	inset: 0;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	pointer-events: none;
}

.popup {
	background-color: #999;
	width: 30%;
	aspect-ratio: 1;
	border: solid black 0.1em;
}

.popupOpen {
	pointer-events: all;
	opacity: 1;
}