:root {
	--boardMaxWidth: 1111px;
	--skyColor: #d1eeff;
}


.container {
	background-color: #000;
	height: 100vh;
	height: 100dvh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.board {
	background-color: #fff;
	display: block;
	background-color: var(--skyColor);
}